{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": "off",
    "no-console": "warn",
    "no-debugger": "warn",
    "no-var": "warn",
    "semi": ["error", "always"],
    "no-trailing-spaces": "off",
    "eol-last": "off",
    "no-unused-vars": "warn",
    "no-underscore-dangle": "warn",
    "no-alert": "warn",
    "no-lone-blocks": "warn"
  }
}
