#app * {
  padding: 0px;
  margin: 0px;
}

#gameoflifeboard {
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 5px;
}

#app table td {
  width:15px;
  height:15px;
  border: 1px solid gray;
}

#app table td .cell {
  height: 100%;
  width: 100%;
}

#app table td .alive {
  background-color: #000000;
}

#app table td .cell:hover {
  cursor: pointer;
}
